{{ include map/map.html }}
{{ include map/party-members.html }}

<script id='template-game-container-map' type='text/template'>
    <div id='region-map-party-members'>
    </div>


    {{// ================================= }}
    {{// Title scroll }}
    {{// ================================= }}
    <div id='map-title'>
        <img src='/static/img/ui/scroll-map.png' />
    </div>

    {{// ================================= }}
    {{// Game map }}
    {{// ================================= }}
    <div id='region-map-map'>
    </div>

    {{// ================================= }}
    {{// Actions }}
    {{// ================================= }}
    <div id='map-actions-wrapper'>
        Sup
    </div>
</script>
