{{ include battle/ability.html }}
{{ include battle/entity.html }}

<script id='template-game-battle' type='text/template'>
    {{// Dev: show state }}
    State: <span class='state'></span> 

    <button class='finish-instance btn btn-large'>Finish</button>

    <!-- Battle scene -->
    <div id='battle-wrapper' style='width: 1000px; height: 500px;'>
        <svg id='battle' 
            style='width:100%; height: 100%;'
            viewBox='0 0 1000 500'
            preserveAspectRation='xMinYMin'
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">
        </svg>
    </div>

    <!-- Entity info -->
    <div id='region-battle-entity-wrapper'></div>

    <!-- Ability menu -->
    <div id='region-battle-ability-wrapper'></div>
</script>
