<script id='template-game-map' type='text/template'>
    <div id='map-party-wrapper'>
        <h3>Group Members</h3>
    </div>


    {{// ================================= }}
    {{// Title scroll }}
    {{// ================================= }}
    <div id='map-title'>
        <img src='/static/img/ui/scroll-map.png' />
    </div>

    {{// ================================= }}
    {{// Game map }}
    {{// ================================= }}
    <div id='map-wrapper'>
        <svg id='map' style='width:100%; height: 100%;'
            viewBox='0 0 1000 500'
            preserveAspectRation='xMinYMin'
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink"
        >
        </svg>
    </div>

    {{// ================================= }}
    {{// Actions }}
    {{// ================================= }}
    <div id='map-actions-wrapper'>
        Sup
    </div>
</script>
