<div id='home'>

    <div id='book-wrapper'>

        <!-- Page wrappers for flip library -->
        <div id='book-pages'>
            <!-- empty cover page (used as an empty page for flip library) -->
            <div class='page-cover'></div>

            <!-- Title page -->
            <div id='book-page-title' class='page-left'>
                <div class='inner'>

                    {{ include create/page-title.html }}
                </div>
            </div>

            <!-- Race page -->
            <div id='book-page-race' class='page-right'>
                <div class='inner'>

                    {{ include create/page-race.html }}
                </div>
            </div>


            <div id='book-page-classes' class='page-left hidden'>
                <div class='inner'>
                    {{ include create/page-classes.html }}
                </div>
            </div>


            <div id='book-page-abilities' class='page-right hidden'>
                <div class='inner'>
                    {{ include create/page-abilities.html }}
                </div>
            </div>


            <div id='book-page-final-data' class='page-left hidden'>
                <div class='inner'>
                    {{ include create/page-final-data.html }}
                </div>
            </div>


            <div id='book-page-final-confirm' class='page-right hidden'>
                <div class='inner'>
                    <div id='create-book-page-final-confirm' 
                    class='opacity-zero'>
                        <h1 style='text-align: center;'>Chapter 1</h1>
                        <hr />
                        <br />
                        And so I embark on my voyage to unexplored lands, 
                            thus starting my story.

                        <div id='create-book-final-start-button'>
                            <h2>Begin Journey</h2>
                        </div>
                    </div>
                </div>
            </div>


        </div> <!-- close book wrapper -->
        
        <!-- Arrows -->
        <div id='arrow-right' class='interaction animated'>
            <div class='arrow animated'></div>
        </div>
        <div id='arrow-left' class='interaction animated'>
            <div class='arrow animated'></div>
        </div>

    <!-- Selected Abilities -->
    <div id='create-selected-abilities-wrapper'>

        <h3 id='selected-skills-h3'>Selected Skills</h3>
        <div id='create-selected-abilities'>

            <div class='create-selected-abilities-item'
            id='create-selected-abilities-1'> </div>
            <div class='create-selected-abilities-item'
            id='create-selected-abilities-2'> </div>
            <div class='create-selected-abilities-item'
            id='create-selected-abilities-3'>
            </div> <div class='create-selected-abilities-item'
            id='create-selected-abilities-4'> </div>

            <!-- Place outside to avoid weird filter shit -->
            <span class='selected-hotkey q'>Q</span>
            <span class='selected-hotkey w'>W</span>
            <span class='selected-hotkey e'>E</span>
            <span class='selected-hotkey r'>R</span>

            <div class='clear'></div>
        </div>
        <div class='clear'></div>
    </div>

    </div>
</div>
