<div id='home'>

    <div id='book-wrapper'>

        <!-- Page wrappers for flip library -->
        <div id='book-pages'>
            <!-- empty cover page (used as an empty page for flip library) -->
            <div class='page-cover'></div>

            <!-- Title page -->
            <div id='book-page-title' class='page-left'>
                <div class='inner'>
                    <h2>
                        Scars
                        <br />
                        <div class='ofthe'>
                            of the
                        </div>
                        Untrodden
                    </h2>
                    <hr />

                    <div class='page-title-description'>
                        <p class='p1 opacity-zero'>
                        I am old and tired now, but I was not young when the destruction of Felithport began. The years since then seem more dim and faded than the years of my youth. Now, I wait. Like a gnarled tree, withered and weathered, with nothing to do but decay to the grave.
                        </p>

                        <p id='name-input-wrapper' class='p2 opacity-zero'>
                        I've had many names, but I was most known as
                        <input id='create-name' 
                            class='opacity-zero'
                            maxlength=16
                            placeholder='Name'
                            type='text' 
                            />
                        </p>

                    </div>
                </div>
            </div>

            <!-- Race page -->
            <div id='book-page-race' class='page-right'>
                <div class='inner'>

                    <div id='race-header' class='opacity-zero'>
                        <h2>Race</h2>
                        <p>
                            The world of Vintrathe is inhabited by a variety of creatures, many recently discovered. But I was the best.
                        </p>
                    </div>

                    <div id='create-race-wrapper' class='opacity-zero'>
                        <div class='fade-out-top'></div>
                        <div id='region-create-races'>
                            <!-- Races will go here -->
                        </div>
                        <div class='fade-out-bottom'></div>
                    </div>

                    <div id='race-description' class='opacity-zero'>
                        Some description of race 
                    </div>

                    <div id='race-visualizations' class='opacity-zero'>

                    </div>

                    <div id='race-next' class='opacity-zero'>
                        Next
                    </div>
                </div>
            </div>


            <div id='book-page-templates' class='page-left hidden'>
                <h2>Templates</h2>
            </div>


            <div id='book-page-abilities' class='page-right hidden'>
                <h2>Abilities</h2>
            </div>


        </div> <!-- close book wrapper -->
        
        <!-- Arrows -->
        <div id='arrow-right'>
            <div class='arrow animated'></div>
        </div>
    </div>
</div>
