{{ include create/races.html }}
{{ include create/classes.html }}
{{ include create/abilities.html }}

<script id='template-page-create-character' type='text/template'>

    <!-- ================================
        Race / Class
        ================================= -->
    <div id='create-race-class-wrapper'>

        <!-- RACES -->
        <div id='create-races'>
            <div class='race-title'>
                <h1>Select Race</h1>
            </div>

            <div id='region-create-races'></div>
        </div>

        <!-- CLASSES -->
        <div id='create-classes' class='list-hidden'>
            <!-- NOTE: classes could be just a list of classes, with an icon to the side indicating the group? e.g., fighter -->
            <div class='class-title'>
                <h1>Select Class</h1>
            </div>
            <div id='region-create-classes'></div>
        </div>
    </div>

    <!-- ================================
        Main display area
        ================================= -->
    <div id='create-character-display-wrapper' class='blur'>

        <!-- NAME -->
        <div class='name-wrapper'>
            <div class='center'>
                <input class='input-character-name' type='text' placeholder='Name' />
                <a class='btn-generate-name btn btn-primary btn-larg'>
                    Generate
                </a>
            </div>
        </div>


        <!-- character display -->
        <div class='character-wrapper'>

            <!-- character svg goes here -->
            <div class='character-display'></div>

            <!-- race info -->
            <div class='race-wrapper'>
                <h1 class='race-name'>
                </h1>
                <div class='race-description'>
                </div>
            </div>

            <!-- class -->
            <div class='class-wrapper'>
                <div class='class-name'>
                </div>
                <div class='class-description'>
                </div>
            </div>


            <!-- VIZ -->
            <!-- Race -->
            <div class='race-viz-wrapper'> </div>


            <!-- Abilities -->
            <div class='abilities-wrapper'>
                <div id='region-create-abilities'></div>
            </div>
        </div>


        <!-- next / previous buttons -->
        <div id='create-state-buttons-wrapper'>
            <a href='#' class='btn btn-previous blur'> Previous </a>
            <a href='#' class='btn btn-next blur'> Next </a>
        </div>
    </div>
</script>
