<svg id='gradient-container' width=0 height=0 
xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink"
>


    <linearGradient
       id="linearGradient5735">
      <stop
         id="stop5739"
         offset="0"
         style="stop-color:#000000;stop-opacity:0;" />
      <stop
         style="stop-color:#000000;stop-opacity:0.24705882;"
         offset="0.62868899"
         id="stop5751" />
      <stop
         style="stop-color:#000000;stop-opacity:0.49803922;"
         offset="0.79808617"
         id="stop5747" />
      <stop
         id="stop5737"
         offset="1"
         style="stop-color:#000000;stop-opacity:1;" />
    </linearGradient>
    <linearGradient
       id="linearGradient5523"
       osb:paint="solid">
      <stop
         style="stop-color:#000000;stop-opacity:1;"
         offset="0"
         id="stop5525" />
    </linearGradient>
    <radialGradient
       inkscape:collect="always"
       xlink:href="#linearGradient5735"
       id="map-node-gradient"
       cx="258.94604"
       cy="154.1674"
       fx="258.94604"
       fy="154.1674"
       r="220.28572"
       gradientTransform="matrix(-0.01301826,1.1692838,-1.1195888,-0.01246663,429.52345,-74.802063)"
       gradientUnits="userSpaceOnUse" />
  </defs>







    <linearGradient
       id="linearGradient5735">
      <stop
         id="stop5739"
         offset="0"
         style="stop-color:#ffff00;stop-opacity:0;" />
      <stop
         style="stop-color:#000000;stop-opacity:0.24705882;"
         offset="0.72288144"
         id="stop5751" />
      <stop
         style="stop-color:#000000;stop-opacity:0.49803922;"
         offset="0.79822296"
         id="stop5747" />
      <stop
         id="stop5737"
         offset="1"
         style="stop-color:#000000;stop-opacity:1;" />
    </linearGradient>
    <linearGradient
       id="linearGradient5523"
       osb:paint="solid">
      <stop
         style="stop-color:#000000;stop-opacity:1;"
         offset="0"
         id="stop5525" />
    </linearGradient>
    <radialGradient
       inkscape:collect="always"
       xlink:href="#linearGradient5735"
       id="radialGradient5743"
       cx="258.94604"
       cy="154.1674"
       fx="258.94604"
       fy="154.1674"
       r="220.28572"
       gradientTransform="matrix(-0.01301826,1.1692838,-1.1195888,-0.01246663,429.52345,-74.802063)"
       gradientUnits="userSpaceOnUse" />







</svg>
