<svg id='filter-container' width=0 height=0 
xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink"
>
    <defs>
        <filter id="filter-darken">
            <feComponentTransfer>
                <feFuncR type="linear" slope="1" intercept="0"/>
                <feFuncG type="linear" slope="1" intercept="0"/>
                <feFuncB type="linear" slope="1" intercept="0"/>
            </feComponentTransfer>
        </filter>

        <filter id="filter-map" x="-0.15000001" y="-0.15000001" width="1.3" height="1.3" color-interpolation-filters="sRGB" >
            <feGaussianBlur stdDeviation="4" in="SourceGraphic" result="result1" id="feGaussianBlur4202" />
            <feTurbulence type="fractalNoise" baseFrequency="0.05" numOctaves="4" result="result0" id="feTurbulence4204" />
            <feDisplacementMap in2="result0" scale="20" xChannelSelector="R" yChannelSelector="G" in="result1" result="result2" id="feDisplacementMap4206" />
            <feGaussianBlur stdDeviation="3" in="SourceGraphic" result="result4" id="feGaussianBlur4208" />
            <feComposite in2="result2" operator="arithmetic" k1="1.5" k2="-0.25" k3="0.5" k4="0" in="result4" result="result5" id="feComposite4210" />
        </filter>

        <filter id="filter-turb" x="-0.15000001" y="-0.15000001" width="1.3" height="1.3" color-interpolation-filters="sRGB"> 
            <feTurbulence result="result4" seed="0" numOctaves="4" baseFrequency="0.04" type="fractalNoise" id="feTurbulence4068" />
            <feDisplacementMap in2="result4" scale="10" xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" result="result3" id="feDisplacementMap4070" />
            <feDiffuseLighting in="result4" result="result1" surfaceScale="2" diffuseConstant="1" lighting-color="#e9e6d7" id="feDiffuseLighting4072">
                <feDistantLight elevation="40" azimuth="235" id="feDistantLight4074" />
            </feDiffuseLighting>
            <feComposite in2="result1" operator="in" in="result3" result="result2" id="feComposite4076" />
            <feComposite in2="result1" operator="arithmetic" k1="1.7" k2="0" k3="0" k4="0" result="result5" id="feComposite4078" />
            <feBlend in2="result3" mode="normal" in="result5" id="feBlend4080" /> 
        </filter>

        <filter id="filter-wavy" color-interpolation-filters="sRGB">
            <feTurbulence result="result91" baseFrequency="0.04" type="turbulence" seed="0" numOctaves="3" id="feTurbulence5437" />
            <feDisplacementMap in2="result91" scale="6.6" xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" id="feDisplacementMap5439" />    
        </filter>

        <filter id="filter-drop-shadow">
            <feGaussianBlur in="SourceAlpha" stdDeviation="1.2"/>
            <feOffset dx="2" dy="2" result="offsetblur"/>
            <feFlood flood-color="rgba(0,0,0,0.9)"/>
            <feComposite in2="offsetblur" operator="in"/>
            <feMerge> <feMergeNode/> <feMergeNode in="SourceGraphic"/> </feMerge>
        </filter>

        <filter id="filter-outline">
            <feFlood flood-color="#000000" result="base" />
            <feMorphology result="bigger" in="SourceGraphic" operator="dilate" radius="1"/>
            <feColorMatrix result="mask" in="bigger" type="matrix"
            values="0 0 0 0 0
            0 0 0 0 0
            0 0 0 0 0
            0 0 0 1 0" />
            <feComposite result="drop" in="base" in2="mask" operator="in" />
            <feBlend in="SourceGraphic" in2="drop" mode="normal" />
        </filter>


        <filter id="filter-outline-blur">
           <feFlood flood-color="white" result="base" />
           <feMorphology result="bigger" in="SourceGraphic" operator="dilate" radius="2"/>
           <feColorMatrix result="mask" in="bigger" type="matrix"
              values="0 0 0 0 0
                      0 0 0 0 0
                      0 0 0 0 0
                      0 0 0 1 0" />
           <feComposite result="drop" in="base" in2="mask" operator="in" />
           <feGaussianBlur result="blur" in="drop" stdDeviation="1" />
           <feBlend in="SourceGraphic" in2="blur" mode="normal" />
        </filter> 



        <filter id="inset-shadow" >
            <!-- dial up the opacity on the shape fill to "1" to select the full shape-->
            <feComponentTransfer in="SourceAlpha" result="inset-selection">
                <feFuncA type="discrete" tableValues="0 1 1 1 1 1"/>
            </feComponentTransfer>

            <!-- dial down the opacity on the shape fill to "0" to get rid of it -->
            <feComponentTransfer in="SourceGraphic" result="original-no-fill">
                <feFuncA type="discrete" tableValues="0 0 1"/>
            </feComponentTransfer>

            <!-- since you can't use the built in SourceAlpha generate your own -->
            <feColorMatrix type="matrix" in="original-no-fill" result="new-source-alpha" values="0 0 0 0 0
                      0 0 0 0 0
                      0 0 0 0 0
                      0 0 0 1 0"
/>            

            <feGaussianBlur in="new-source-alpha" result="blur" stdDeviation="5" />
            <feGaussianBlur in="new-source-alpha" result="blur2" stdDeviation="10" />
            <feGaussianBlur in="new-source-alpha" result="blur3" stdDeviation="15" />
            <feMerge result="blur">
                <feMergeNode in="blur" mode="normal"/>
                <feMergeNode in="blur2" mode="normal"/>
                <feMergeNode in="blur3" mode="normal"/>
            </feMerge>
            <!-- select the portion of the blur that overlaps with your shape -->
            <feComposite operator="in" in="inset-selection" in2="blur" result="inset-blur"/>
             <!-- composite the blur on top of the original with the fill removed -->
            <feComposite operator="over" in="original-no-fill" in2="inset-blur"/>            
        </filter>


        <filter id="filter-burned-edge" x="-0.15000001" y="-0.15000001" width="1.3" height="1.3" color-interpolation-filters="sRGB">
          <feGaussianBlur stdDeviation="4" in="SourceGraphic" result="result1" id="feGaussianBlur4202" />
          <feTurbulence type="fractalNoise" baseFrequency="0.05" numOctaves="4" result="result0" id="feTurbulence4204" />
          <feDisplacementMap in2="result0" scale="20" xChannelSelector="R" yChannelSelector="G" in="result1" result="result2" id="feDisplacementMap4206" />
          <feGaussianBlur stdDeviation="3" in="SourceGraphic" result="result4" id="feGaussianBlur4208" />
          <feComposite in2="result2" operator="arithmetic" k1="1.5" k2="-0.25" k3="0.5" k4="0" in="result4" result="result5" id="feComposite4210" />
        </filter>






    </defs>
</svg>
