<svg id='svg-sprites-container' width=0 height=0 style="display:none;"
xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink"
>

<!-- preload all sprites. This will load sprites BEFORE the battle loads
    NOTE: Don't put every sprite here, would be too much to load

    TODO: How to have a single spritesheet in SVG?
    answer: most likely, clip paths
-->
<image xlink:href="/static/img/characters/tiger.gif" />
<image xlink:href="/static/img/characters/man1.gif" />
<image xlink:href="/static/img/characters/darkelf.gif" />

</svg>
