<script id='template-game-battle-log' type='text/template'>
    <div id='battle-log'>
        <!-- Logs go here -->
    </div>
</script>

<script id='template-game-battle-log-health-item' type='text/template'>
    <div class='log'>
        {{// show source }}
        <span class='<%= sourceIsPlayer ? "player" : "enemy" %> entity-name'>
            <%= source && source.get('name') %>
        </span>

        uses 

        <span class='ability'> <%= ability.get('name') %> </span>

        on

        {{// show target  }}
        <% if( source !== target && healthDifference !== 0){ %>
            <span class='<%= targetIsPlayer ? "player" : "enemy" %> entity-name'>
                <%= target && target.get('name') %>
            </span>
        <% } else {  %>
            themsevles
        <% } %>

        {{// show health change }}
        <% if(healthDifference < 0){ %>
            <!-- NEGATIVE damage -->

            for
            <span class='damage'>
                <%= d3.format(',')(Math.abs(healthDifference)) %>
            </span>
            damage 

        <% } else if (healthDifference > 0){ %>
            <!-- POSITIVE damage (healt) -->
            
            for 
            <span class='heal'>
                <%= d3.format(',')(healthDifference) %>
            </span>
            health

        <% } else if (healthDifference === 0){ %>
            for <span class='zero'>0</span> health
        <% } %>

        <div class='date'>
            <%= (new Date()).toTimeString().split(" ")[0] %>
        </div>
    </div>
</script>

<script id='template-game-battle-log-effect-item' type='text/template'>
    <div class='log'>
        {{// show source }}
        <span class='<%= sourceIsPlayer ? "player" : "enemy" %> entity-name'>
            <%= source.get('name') %>
        </span><% if(type === 'remove'){ %>'s<% } %>

        <% if(type === 'add'){ %>
            uses 
        <% } %>

        <span class='ability'> <%= ability.get('name') %> </span>

        <% if(type === 'add'){ %>
            on
        <% } else { %>
            effect ends on 
        <% } %>

        {{// show target  }}
        <% if( source !== target ){ %>
            <span class='<%= targetIsPlayer ? "player" : "enemy" %> entity-name'>
                <%= target.get('name') %>
            </span>
        <% } else {  %>
            themsevles
        <% } %>

        <!-- date -->
        <div class='date'>
            <%= (new Date()).toTimeString().split(" ")[0] %>
        </div>

    </div>
</script>

<script id='template-game-battle-log-death-item' type='text/template'>
    <div class='log'>
        {{// show source }}
        <span class='<%= sourceIsPlayer ? "player" : "enemy" %> entity-name'>
            <%= source.get('name') %>
        </span>

        <% if(isAlive){ %>
            is brought to life by
        <% } else { %>
            kills
        <% } %>

        {{// show target  }}
        <% if( source !== target ){ %>
            <span class='<%= targetIsPlayer ? "player" : "enemy" %> entity-name'>
                <%= target.get('name') %>
            </span>
        <% } else {  %>
            themsevles
        <% } %>

        <% if(ability){ %>
            with 
            <span class='ability'> <%= ability.get('name') %> </span>
        <% } %>

        <!-- date -->
        <div class='date'>
            <%= (new Date()).toTimeString().split(" ")[0] %>
        </div>

    </div>
</script>

<script id='template-game-battle-log-item-manual' type='text/template'>
    <div class='log manual'>
        <%= message %>
    </div>
</script>
