{{// Entity Info }}
<script id='template-game-battle-selected-entity-info' type='text/template'>
    {{// This template shows the abilities for the currently selected entity }}
    <div class='entity'>
        <h4><%= name %></h4>
    </div>
    Health: <div class='health-wrapper'></div>

    <div class='health-bar-wrapper'>
        <div class='health-amount'>80 / 100</div>
        <div class='health-fill'></div>
    </div>

    <br />
    Attack: <%= attributes.get('attack') %> 
    <br />
    Armor: <%= attributes.get('armor') %> 
    <br />
    Magic Power: <%= attributes.get('magicPower') %> 
    <br />
    Magic Resist: <%= attributes.get('magicResist') %> 

    <h4>Active Effects</h4>
    <div class='active-effecs'>
        <% _.each(activeEffects, function(effect){ %>
            <div class='active-effect'>
                <img src='/static/img/abilities/<%= effect.id %>.svg' class='ability-icon' 
                    height='46' width='46' />
                <!--
                <%= JSON.stringify(effect) %>
                -->
            </div>
        <% }); %>
    </div>

    
</script>

<script id='template-game-battle-selected-entity-health' type='text/template'>
    <%= attributes.get('health') %> / <%= attributes.get('maxHealth') %>
</script>

<script id='template-game-battle-player-entities' type='text/template'>
    <div class='members'>
    </div>
</script>
