@mixin radial-gradient-background($position, $shape, $start, $startval, $end, $endval){
    background: -webkit-radial-gradient($position, $shape cover, $start $startval, $end $endval);
    background: -moz-radial-gradient($position, $shape cover, $start $startval, $end $endval);
    background: radial-gradient($position, $shape cover, $start $startval, $end $endval);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45616a', endColorstr='#0f3545',GradientType=1 );
}

@mixin no-touch(){
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin transition($t){
    -webkit-transition: unquote($t);
    -moz-transition: unquote($t);
    -o-transition: unquote($t);
    transition: unquote($t);
}

@mixin blur($r:10px){
    -webkit-filter: blur($r);
    -moz-filter: blur($r);
    filter: blur($r);
}
