// --------------------------------------
//
// Hover effect
//
// --------------------------------------
.game-battle-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;


    // SVG wrapper and SVG
    #battle-wrapper {
        position: relative;
        width: 1000px;
        height: 70%;

        #battle {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width:100%; 
        }
    }


    .entity-group-wrapper {
        cursor: pointer
    }

    .target-indicator {
        opacity: 0;
        fill: #343434;
        fill-opacity: 0.5;
        stroke: #ffffff;
        stroke-opacity: 0.5;
        stroke-width: 2px;
    }

    // Only highlight valid targets
    .state-ability.selected-ability-damage.selected-ability-enemy .enemy .target-indicator, 
    .state-ability.selected-ability-damage.selected-ability-player .player .target-indicator {
        fill: #dd2222;
    }
    .state-ability.selected-ability-heal.selected-ability-player .player .target-indicator,
    .state-ability.selected-ability-heal.selected-ability-enemy .enemy .target-indicator {
        fill: #22dd22;
    }

    .entity-hover .target-indicator {
        opacity: 1;
    }

    // --------------------------------------
    //
    // health bar
    //
    // --------------------------------------
    .battle-entity-health .health-bar {
        fill: #dd2222;
    }

    .battle-entity-health .health-bar-border {
        fill: none;
        stroke: #ffffff;
    }

    // Damage text
    .entity-group-text {
        font-size: 1.5em;
        font-weight: bold;
    }
    .entity-group-text.damage.negative {
        fill: #dd3333;
        stroke: #990000;
    }
    .entity-group-text.damage.positive {
        fill: #33dd33;
        stroke: #009900;
    }

    // --------------------------------------
    //
    // Timer
    //
    // --------------------------------------
    .timer-bar-border {
        fill: none;
        stroke: #343434;
    }
    .timer-bar {
        fill: #ffffff;
        stroke: none;
    }

    // --------------------------------------
    //
    // Ability
    //
    // --------------------------------------
    .ability-list-wrapper {
        min-height: 150px;
        position: relative;

        .ability-item-wrapper {
            border: 1px solid #343434;
            float: left;
            width: 24%;
          
            background-color:transparent;
            -moz-transition:background-color 0.1s;
            -webkit-transition:background-color 0.1s;
            transition:background-color 0.1s;
        }

        // Blocker when entity is dead
        .entity-dead {
            background: #343434;
            bottom: 0;
            left: 0;
            opacity: 0.7;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 999;
        }

        .ability-item-wrapper.inactive {
            background: #a0a0a0;
        }

        .ability-item-wrapper.use-invalid {
            background-color: #cdcdcd;
        }
        .ability-item-wrapper.use {
            background-color: #44dd44;
        }

    }

    // --------------------------------------
    //
    // pause
    //
    // --------------------------------------
    .pause-blocker.active {
        fill: #ababab !important;
        opacity: 0.6 !important;
    }
}
