.entity {
    fill: #336699;
    stroke: #ffffff;
}
.enemy-entity {
    fill: #dd4444;
    stroke: #ffffff;
}

// --------------------------------------
//
// Timer
//
// --------------------------------------
.timer-bar-border {
    fill: none;
    stroke: #343434;
}
.timer-bar {
    fill: #ffffff;
    stroke: none;
}

// --------------------------------------
//
// Ability
//
// --------------------------------------
.ability-list-wrapper .ability-item-wrapper {
    border: 1px solid #343434;
    float: left;
    width: 24%;
  
    background-color:transparent;
    -moz-transition:background-color 0.1s;
    -webkit-transition:background-color 0.1s;
    transition:background-color 0.1s;
}

.ability-list-wrapper .ability-item-wrapper.use-invalid {
    background-color: #cdcdcd;
}
.ability-list-wrapper .ability-item-wrapper.use {
    background-color: #44dd44;
}
