$ui-left-side-width: 200px;
$ui-right-side-width: 200px;
$ui-log-height: 115px;

@import "battle/battle-svg";
@import "battle/battle-sidebars";
@import "battle/battle-abilities";
@import "battle/main";
