// Defines colors throughout the site
$COLOR-INTERACTION: rgba(235,235,235, 0.9);
$BACKGROUND-INTERACTION: rgba(23, 118, 16, 0.1);

$COLOR-INTERACTION-BORDER: rgba(90,90,90,0.8);
$COLOR-INTERACTION-TEXT: rgba(34,34,34,0.9);
$BACKGROUND-INTERACTION: rgba(235,235,235,0.35);
$BACKGROUND-INTERACTION-LIGHT: rgba(235,235,235,0.15);

$COLOR-INTERACTION-PLACEHOLDER: rgba(34,34,34,0.3);

$COLOR-ABILITY-DAMAGE: #BE3434;
$COLOR-ABILITY-DAMAGE: #8B4D4D;

$COLOR-ABILITY-BUFF: #3D5D7C;
$COLOR-ABILITY-DEBUFF: #66543c;
$COLOR-ABILITY-HEAL: #547650;

$COLOR-INTERACTION-SELECTED: #5EF0F0;
$BACKGROUND-INTERACTION-SELECTED: rgba(125, 249, 249, 0.45);
$BOX-SHADOW-INTERACTION-SELECTED: 0 0 2px #DDFFFD,0 0 20px #66C8DE, 0 0 30px #74C6D5;
