// Defines colors throughout the site
$COLOR-INTERACTION: rgba(235,235,235, 0.9);
$BACKGROUND-INTERACTION: rgba(23, 118, 16, 0.1);

$COLOR-INTERACTION-BORDER: rgba(90,90,90,0.8);
$COLOR-INTERACTION-TEXT: rgba(34,34,34,0.9);
$BACKGROUND-INTERACTION: rgba(235,235,235,0.35);
$BACKGROUND-INTERACTION-LIGHT: rgba(235,235,235,0.15);

$COLOR-INTERACTION-PLACEHOLDER: rgba(34,34,34,0.3);

$COLOR-ABILITY-DAMAGE: #BE3434;
$COLOR-ABILITY-DAMAGE: #8B4D4D;

$COLOR-ABILITY-BUFF: #3D5D7C;
$COLOR-ABILITY-DEBUFF: #66543c;
$COLOR-ABILITY-HEAL: #547650;


// INTERACTION COLORS
// --------------------------------------
$COLOR-INTERACTION-SELECTED: #D1C56C; // yellow 
$BACKGROUND-INTERACTION-SELECTED: rgba(229, 197, 71, 0.45); // yellow
$BOX-SHADOW-INTERACTION-SELECTED: 0 0 2px rgb(222, 220, 172), 0 0 20px rgb(235, 232, 140), 0 0 30px rgb(210, 187, 82); //yellow

// for border gradient
//-webkit-linear-gradient(rgba(255,255,255,0.9), rgba(116, 202, 207, 0.8)) 1 100%
$COLOR-INTERACTION-SELECTED: #98c2b6; // teal / yellow light
$BACKGROUND-INTERACTION-SELECTED: rgba(152,194,182, 0.85); // teal
$BOX-SHADOW-INTERACTION-SELECTED: 0 0 2px #CAF9E5, 0 0 20px #49B9A2, 0 0 30px #67D3CE; // teal


// NEW YELLOW 
$COLOR-INTERACTION-SELECTED: #C89D3D;
$BACKGROUND-INTERACTION-SELECTED: rgba(200, 184, 61, 0.22);
$BOX-SHADOW-INTERACTION-SELECTED: 0 0 2px #FFFFFF, 0 0 20px #C89D3D, 0 0 30px #C89D3D;


// TEAL
$COLOR-INTERACTION-SELECTED: #98c2b6;
$COLOR-INTERACTION-SELECTED: #5EF0F0;

$BACKGROUND-INTERACTION-SELECTED: rgba(125, 249, 249, 0.45);
$BOX-SHADOW-INTERACTION-SELECTED: 0 0 2px #DDFFFD,0 0 20px #66C8DE, 0 0 30px #74C6D5;
$BOX-SHADOW-INTERACTION-SELECTED: 0 0 5px #FFFFFF, 0 0 22px #66C8DE, 0 0 36px #74C6D5; //more white border
