// Defines colors throughout the site
$COLOR-INTERACTION: rgba(235,235,235, 0.9);
$BACKGROUND-INTERACTION: rgba(23, 118, 16, 0.1);

$COLOR-INTERACTION-BORDER: rgba(90,90,90,0.8);
$COLOR-INTERACTION-TEXT: rgba(34,34,34,0.9);
$BACKGROUND-INTERACTION: rgba(235,235,235,0.35);
$BACKGROUND-INTERACTION-LIGHT: rgba(235,235,235,0.15);

$COLOR-INTERACTION-PLACEHOLDER: rgba(34,34,34,0.3);

$COLOR-ABILITY-DAMAGE: #E34949;
$COLOR-ABILITY-BUFF: #4988B2;
$COLOR-ABILITY-DEBUFF: #944E20;
$COLOR-ABILITY-HEAL: #56A64C;
$COLOR-ABILITY-UTIL: #DDEB4C;
