// variables 
// --------------------------------------
$create-left-width: 350px;
$create-name-height: 50px;
$create-nav-buttons-height: 50px;
$create-race-title-height: 50px;

// sub files (so this file doesn't get too big)
@import "create-abilities";

// layout
// --------------------------------------
.page-create-character-wrapper {

    .blur {
        opacity: 0.5 !important;
    }

    // Left side
    // ----------------------------------
    #create-race-class-wrapper {
        border: 2px solid #343434;
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        width: $create-left-width;
        top: 0;

        // buttons
        .next-prev-buttons {
            position: absolute;
            bottom: 0;
            height: $create-nav-buttons-height;
            left: 0;
            right: 0;

            .btn { 
                border: 2px solid #343434;
                position: absolute;
                transition: opacity $opacity-transition-time;
                width: 45%;
            }

            .btn-previous {
                left: 0;
            }
            .btn-next {
                right: 0;
            }
        }
    }

    #create-races, #create-classes {
        bottom: $create-nav-buttons-height;
        border: 2px solid #343434;
        left: 0;
        position: absolute;
        transition: left 0.4s;
        top: 0;
        width: $create-left-width;

        .race-title {
            height: $create-race-title-height;
        }

        #region-create-races, #region-create-classes {
            -webkit-overflow-scrolling: touch;
            bottom: 0;
            left: 0;
            overflow: auto;
            position: absolute;
            right: 0;
            top: $create-race-title-height;

            .item {
                border: 1px solid #a0a0a0;
                cursor: pointer;
                padding: 8px 0;
            }
            .item.active {
                background: #336699;
                color: #ffffff;
            }
        }
    }
    // Races
    #create-races.list-hidden {
        left: -$create-left-width !important;
    }

    #region-create-races, #region {
    }

    // Class list
    #create-classes.list-hidden {
        left: $create-left-width !important;
    }
    
    // Right side / Character Display
    // ----------------------------------
    #create-character-display-wrapper {
        bottom: 0;
        border: 2px solid #343434;
        position: absolute;
        left: $create-left-width;
        right: 0;
        top: 0;
        transition: opacity $opacity-transition-time;

        .name-wrapper {
            position: absolute;
            left: 0;
            height: $create-name-height;
            overflow: hidden;
            right: 0;
            top: 0;
        }

        .character-wrapper {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: $create-name-height;
        }

        .race-viz-wrapper {
            top: 0;
            position: absolute;
            right: 0px;
        }
    }
}

