/* Colors */
@import "map";

/* Must be before imports, because they are referenced
 * by some imports. */
$highlight-blue: #3387f5;
$highlight-green: #1bc812;

/* Variable declarations */
$bold-weight: 500;

/* Header area */

body {
  font-size: 17px;
  color: #000;
}
body, #region-main {
  -webkit-overflow-scrolling: touch;
}
.navbar-spacer {
  padding-top: 80px;
}

a {
  cursor: pointer;
  color: $highlight-blue;
  text-decoration: none !important;
  &:hover {
    color: darken($highlight-blue, 10%);
  }
}

.preload-content {
  text-align: center;
  color: #999;
  font-weight: $bold-weight;
  margin: 3em 0
}

.hidden {
  display: none;
}
.clear { clear: both; }

.blur {
  -webkit-filter: blur(10px) !important;
  filter: blur(10px) !important;
  opacity: 1 !important;
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=10)\9 !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=10)\9 !important;
  opacity: 1\9 !important;
  pointer-events: none;
}
