// --------------------------------------
//
// Variables
//
// --------------------------------------
$highlight-blue: #3387f5;
$highlight-green: #1bc812;

// --------------------------------------
//
// Imports
//
// --------------------------------------
@import "map";
@import "ability-effects";
@import "battle";
@import "nodeInstance";

// --------------------------------------
//
// Base elements
//
// --------------------------------------
body {
  font-size: 17px;
  color: #000;
}
body, #region-main {
  -webkit-overflow-scrolling: touch;
}

a {
  cursor: pointer;
  color: $highlight-blue;
  text-decoration: none !important;
}
a:hover {
    color: darken($highlight-blue, 10%);
}

// Make all SVG elements unselectable
svg {
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
}


@-webkit-keyframes preload {
    0%  {
        -webkit-transform: scale(0.95, 0.95);
        transform: scale(0.95, 0.95);
        opacity: 0.2;
    }
    50%  {
        opacity: 0.5;
    }
    100%  {
        -webkit-transform: scale(1.0,1.0);
        transform: scale(1.0, 1.0);
        opacity: 1;
    }
}
.preload-content {
  text-align: center;
  color: #999;
  font-weight: 500;
  margin: 3em 0;

  -webkit-animation: preload 1.8s ease-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;

  animation: preload 1.8s ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.hidden { display: none; }
.clear { clear: both; }

.blur {
  -webkit-filter: blur(10px) !important;
  filter: blur(10px) !important;
  opacity: 1 !important;
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=10)\9 !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=10)\9 !important;
  opacity: 1\9 !important;
  pointer-events: none;
}
