// --------------------------------------
// Left side entity window
// --------------------------------------
#region-map-party-members {
    background: #808080 url(../../img/ui/combat-ui-left.png);
    border-right: none;
    box-shadow: 1px 0 0 #070707, 4px 0 12px #101010;
    bottom: 0;
    color: #ffffff;
    left: 0;
    position: absolute;
    top: 0;
    width: $party-width;
    z-index: 1000;

    .inner {
        padding-right: 25px;
        width: 100%;
    }

    h3 {
        color: #a69172;
        font-size: 2.5em;
        margin-right: 40px;
        font-variant: small-caps;
        text-align: center;
        text-shadow:
            0 -1px 0 rgba(255,255,255,0.8),
            0 -1px 0 rgba(0,0,0,1),
            1px 0 0 #000000,
            1px 1px 0 #000000,
            0 1px 0 #000000,
            0 2px 0 #232323,
            0 3px 0 rgba(0,0,0,0.3),
            0px 0px 2px #232323;
    }

    // Members
    .member {
        cursor: pointer;
    }
    .member:hover {
        background: rgba(255,255,255,0.4);
    }
}
