// --------------------------------------
// Left side entity window
// --------------------------------------
#region-map-party-members {
    background: #808080 url(../../img/ui/map-ui-left.png);
    border-right: none;
    box-shadow: 1px 0 0 #070707, 4px 0 12px #101010;
    bottom: 0;
    color: #ffffff;
    left: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 1000;

    .inner {
        padding-right: 25px;
        width: 100%;
    }

    h1,h2, h3 {
        color: #a69172;
        font-size: 1.3em;
        margin-right: 40px;
        font-variant: small-caps;
        text-align: center;
        text-shadow:
            0 -1px 0 rgba(255,255,255,0.8),
            0 -1px 0 rgba(0,0,0,1),
            1px 0 0 #000000,
            1px 1px 0 #000000,
            0 1px 0 #000000,
            0 2px 0 #232323,
            0 3px 0 rgba(0,0,0,0.3),
            0px 0px 2px #232323;
    }

    .map__entity-name {
        font-size: 2.1em;
        margin: 20px 0 30px 0;
        padding: 0 4px;
        min-height: 40px;
        overflow-y: hidden;
    }

    // Members
    .member {
        padding: 0 0 0 4px;
        strong {
            display: inline-block;
            font-size: 0.9em;
            margin: 4px 20px 0 0;
            width: 100px;
        }
    }
    .member:hover {
    }

    .map__entity-stats-wrapper {
        padding: 10px 10px 10px 30px;
    }
}
