#region-map {
    z-index: 100;
}

#map {
    .fog {
    }
    .visibleArea {
    }

    .map-node {
        cursor: pointer;
        stroke: #ffffff;
        stroke-width: 2px;
        transition: fill 2s;
    }
    .node-visited {
        cursor: no-drop;
    }
    .node-current {
        cursor: default !important;
    }
    .node-hover {
        fill: #f0f0f0;
    }
    .node-visited {
        fill: #dddddd;
    }
    .node-current{
        fill: #44aa44;
    }

    // Paths
    // ----------------------------------
    .visited-path-dotted {
        fill: none;
        stroke: #343434;
        opacity: 0.9;
        stroke-width: 6px;
    }

    .destination-path-dotted {
        fill: none;
        stroke: #ffffff;
        opacity: 0.6;
        stroke-dasharray: 10px 4px;
        stroke-width: 6px;
    }
    .destination-path-animated{
        fill: none;
        stroke: #343434;
        stroke-width: 8px;
    }
}
