// Page home
// --------------------------------------
#home {
    @include noSelect();
    @include forceGpu();
    background: #686c49 url(../../img/home.jpg);
    background-size: cover;
    bottom: 0;
    cursor: normal;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    .interaction-font {
        font-size: 1.2em;
        padding-left: 2px;
    }

    // set cursor to default, do not show the text selection cursor
    * {
        cursor: default;
    }

    .interaction, #create-name, .item {
        cursor: pointer;
    }
    

    // Book styles
    #book-wrapper {
        // background: url(../../img/ui/create/book-bg-low.jpg) no-repeat;
        // height: 684px;

        background: url(../../img/ui/create/book-bg-lowfi-normal.jpg) no-repeat;
        box-shadow: 0 0 3px #343434;
        bottom: 0;
        height: 562px;
        left: 50%;
        margin-left: -436px;
        position: absolute;
        top: 5%;
        width: 872px;
    }

    #book-pages {
        position: absolute;
        bottom: 14px;
        left: 40px;
        right: 40px;
        top: 14px;
    }

    // Page styles
    .page-left {
        //background: url(../../img/ui/create/page-left.jpg) no-repeat;
        //height: 658px;
        background: url(../../img/ui/create/page-small-left.jpg) no-repeat;
        height: 562px;
        left: 0;
        position: absolute;
        top: 0;
        width: 397px;
    }
    .page-right {
        //background: url(../../img/ui/create/page-right.jpg) no-repeat;
        //height: 658px;
        background: url(../../img/ui/create/page-small-right.jpg) no-repeat;
        height: 562px;
        left: 395px;
        position: absolute;
        top: 0;
        width: 397px;
    }

    // padding for the inner page without the border
    $book-inner-padding: 30px;
    .inner {
        bottom: 0;
        left: 0;
        padding: $book-inner-padding;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1000;
    }

    .page-left, .page-right {
        color: rgba(20,20,20,0.9);
    }

    // Import styles for each page
    @import "create/page-title";
    @import "create/page-race";
    @import "create/page-classes";
    @import "create/page-abilities";
    @import "create/page-final-data";
    @import "create/page-final-confirm";

    .opacity-zero div, .opacity-zero .disabled, 
    .opacity-zero img, .opacity-zero .race-name {
        cursor: default !important; 
    }

    // Arrows
    #arrow-right, #arrow-left {
        cursor: pointer !important;
        height: 142px;
        padding: 30px 10px 10px 30px;
        position: absolute;
        opacity: 0;
        right: -8px;
        top: 230px;
        width: 73px;
        z-index: 100;
    }
    #arrow-right.fadeOut, #arrow-right.fadeOut .arrow, 
    #arrow-left.fadeOut, #arrow-left.fadeOut .arrow {
        cursor: default !important;
    }
    #arrow-left {
        left: -38px;
        right: auto;
    }

    // RIGHT arrow
    #arrow-right .arrow {
        background-repeat: no-repeat;
        background-image: url(/static/img/ui/create/sprite-arrow-right.png);
        background-position: -2px -76px;
        cursor: pointer !important;
        height: 72px;
        width: 43px;
    }
    #arrow-right:hover .arrow {
        background-position: -2px -150px !important;
    }
    #arrow-right .arrow.disabled, #arrow-right:hover .arrow-disabled {
        background-position: -2px -2px;
        cursor: disabled;
    }

    // LEFT arrow
    #arrow-left .arrow {
        background-repeat: no-repeat;
        background-image: url(/static/img/ui/create/sprite-arrow-left.png);
        background-position: -2px -76px;
        cursor: pointer !important;
        height: 72px;
        width: 43px;
    }
    #arrow-left .arrow.disabled, #arrow-left:hover .arrow-disabled {
        background-position: -2px -2px;
        cursor: disabled;
    }
    #arrow-left:hover .arrow {
        background-position: -2px -150px !important;
    }

    hr {
        border-top: 1px solid rgba(0,0,0,0.8);
    }
}
