{{ // Item view for a single ability }}
{{ // DEPRECATED }}
<script id='template-create-ability-list-item' type='text/template'>
    <!-- Ability -->
    <div class='create-ability-wrapper <%= (damage ? "damage" : "") %> <%= (heal? "heal" : "") %>'>
        <div class='create-ability-inner'>
            <h3><%= name %></h3>
            {{// Damage or heal or dot }}
            <div class='description'>
                <%= description %>
            </div>

            <div class='damage-heal-info'>
                <% if(damage){  %>
                    Damage: <%= damage %>
                <% } else if (heal){ %>
                    Heal: <%= heal %>
                <% } %>
                <% if(attackBonusPercent){ %> 
                    +<%= (attackBonusPercent * 100) + '%' %> attack
                <% } %>
                <% if(magicPowerBonusPercent){ %> 
                    +<%= (magicPowerBonusPercent * 100) + '%' %> magic power 
                <% } %>
            </div>

            <div class='type-info'>
                Type: <%= JSON.stringify(type) %> 
                <br /> Element: <%= JSON.stringify(element) %>
            </div>

            <div class='cast-info'>
                Cast duration: <%= castDuration %>
            </div>
        </div>
    </div>
</script>
