{{// Template (abilities) }}
<script id='template-create-all-abilities-list-item' type='text/template'>
    <div class='item <% if(disabled){ %>disabled<% } %>' data-template-cid='<%= cid %>'>
        <% if(disabled){ %>
            <img src='/static/img/abilities/disabled.svg' class='class-image' height='46' width='46' />
        <% } else { %>
            <img src='/static/img/abilities/<%= id %>.svg' class='class-image' height='46' width='46' />
        <% } %>

        <span class='list-item-name'>
            <% if(disabled){ %>
                Undiscovered
            <% } else { %>
                <%= name %>
            <% } %>
        </span>
    </div>
        
    <% if(!disabled){ %>
        <div class='ability-list-item-meta-wrapper'>
            <% if(spellTypes.indexOf('damage') > -1){ %>
                <div class='ability-label damage'>
                    D<br />M<br />G
                </div>
            <% } %>

            <% if(spellTypes.indexOf('heal') > -1){ %>
                <div class='ability-label heal'>
                    H<br />E<br />A<br />L
                </div>
            <% } %>

            <% if(spellTypes.indexOf('buff') > -1){ %>
                <div class='ability-label buff'>
                    B<br />U<br />F<br />F
                </div>
            <% } %>

            <% if(spellTypes.indexOf('debuff') > -1){ %>
                <div class='ability-label debuff'>
                    D<br />B<br />U<br />F
                </div>
            <% } %>

            <% if(spellTypes.indexOf('utility') > -1){ %>
                <div class='ability-label utility'>
                    U<br />T<br />I<br />L
                </div>
            <% } %>

        </div>
    <% } %>
</script>

{{// Abilities description }}
<script id='template-create-abilities-item-info' type='text/template'>
    <strong><%= name %></strong>
    <%= description %>
</script>

{{// Filter Descriptions }}
<script id='template-create-abilities-filter-info-damage' type='text/template'>
    Damage
</script>
<script id='template-create-abilities-filter-info-debuff' type='text/template'>
    Debuff
</script>
<script id='template-create-abilities-filter-info-heal' type='text/template'>
    Heal
</script>
<script id='template-create-abilities-filter-info-buff' type='text/template'>
    Buff
</script>
<script id='template-create-abilities-filter-info-utility' type='text/template'>
    Utility
</script>
