<div id='race-header' class='opacity-zero'>
    <h2>Race</h2>
    <p>
        The world of Vintrathe is inhabited by a variety of creatures, many recently discovered. But I was the best.
    </p>
</div>

<div id='create-race-wrapper' class='opacity-zero'>
    <div class='fade-out-top'></div>
    <div id='region-create-races'>
        <!-- Races will go here -->
    </div>
    <div class='fade-out-bottom'></div>
</div>

<div id='race-description' class='opacity-zero'>
    <!-- template content goes here -->
</div>

<div id='race-next' class='opacity-zero'>
    Next
</div>
