<div id='create-classes-header'>
    <h2>Class</h2>
</div>

<div id='create-classes-wrapper' class='opacity-zero'>
    <p id='create-classes-description' class='p1 opacity-zero'>
        There were imitators, but I was the best... 
    </p>

    <div id='region-create-classes' class='interaction opacity-zero interaction-list'> </div>

    <!-- Selected Abilities -->
    <div id='create-selected-abilities-wrapper'>

        <h3 id='selected-skills-h3' class='interaction-font'>Selected Skills</h3>
        <div id='create-selected-abilities'>

            <div class='create-selected-abilities-item'
            id='create-selected-abilities-1'>
                <span class='selected-hotkey'>Q</span>
            </div>
            <div class='create-selected-abilities-item'
            id='create-selected-abilities-2'>
                <span class='selected-hotkey'>W</span>
            </div>
            <div class='create-selected-abilities-item'
            id='create-selected-abilities-3'>
                <span class='selected-hotkey'>E</span>
            </div>
            <div class='create-selected-abilities-item'
            id='create-selected-abilities-4'>
                <span class='selected-hotkey'>R</span>
            </div>

            <div class='clear'></div>
        </div>
        <div class='clear'></div>
    </div>
</div>
