<div id='create-race-header' class='opacity-zero'>
    <h2>Race</h2>
</div>

<div id='create-race-wrapper' class='opacity-zero'>
    <div class='fade-out-top'></div>
    <div id='region-create-races' class='interaction'>
        <!-- Races will go here -->
    </div>
    <div class='fade-out-bottom'></div>
</div>

<div id='home-race-description' class='opacity-zero'>
    <!-- template content goes here -->
</div>
<div id='home-race-visualization' class='opacity-zero'>
    <!-- viz goes here -->
</div>
