<div id='create-classes-header'>
    <h2>Class</h2>
</div>

<div id='create-classes-wrapper' class='opacity-zero'>
    <p id='create-classes-description' class='p1 opacity-zero'>
        There were imitators, but I was the best... 
    </p>

    <div id='region-create-classes' class='interaction opacity-zero interaction-list'> </div>

    <!-- NOTE: Selected abilities region would normally go here, but a repaint is triggered when mousing over classes and it's janky - so, it's put on a level above in the book-wrapper in page-home-preload.html -->


</div>
