<div id='create-abilities-header' class='opacity-zero'>
    <!-- Abilities -->
    <h2>Skills</h2>
</div>

<div id='create-abilities-wrapper' class='opacity-zero'>
    <div id='region-create-all-abilities-list' 
        class='interaction opacity-zero interaction-list'>
        <!-- abilities filled in here -->
    </div>

    <!-- labels / filter -->
    <div id='create-abilities-filter-wrapper'>
        <span id='label-filter-damage' 
            class='label-filter label-filter-damage' data='damage'>
            Damage 
        </span>
        <span id='label-filter-debuff' 
            class='label-filter label-filter-debuff' data='debuff'>
            DeBuff 
        </span>
        <span id='label-filter-heal'
            class='label-filter label-filter-heal' data='heal'>
            Heal 
        </span>
        <span id='label-filter-buff'
            class='label-filter label-filter-buff' data='buff'>
            Buff
        </span>
        <div class='clear'></div>
    </div>

    <!-- Description -->
    <div id='create-all-abilities-description' class='animated'>
    </div>
</div>
