{{// Template (abilities) }}
<script id='template-create-all-abilities-list-item' type='text/template'>
    <div class='item <% if(disabled){ %>disabled<% } %>' data-template-cid='<%= cid %>'>
        <% if(disabled){ %>
            <img src='/static/img/abilities/disabled.svg' class='ability-icon' height='46' width='46' />
        <% } else { %>
            <img src='/static/img/abilities/<%= id %>.svg' class='ability-icon' height='46' width='46' />
        <% } %>

        <div class='ability-timer-bar'>
            <!-- HORIZONTAL -->
            <div class='inner-bar' 
                style='width: <%= (castTime / data.maxCastTime) * 100 | 0 %>%;'>
            </div>
        </div>
    </div>
        
    <% if(!disabled){ %>
        <div class='ability-list-item-meta-wrapper'>
            <% if(spellTypes.indexOf('damage') > -1){ %>
                <!-- <div class='ability-label damage'></div> -->
            <% } %>
        </div>
    <% } %>

    <div class='selected-text q'>Q</div>
    <div class='selected-text w'>W</div>
    <div class='selected-text e'>E</div>
    <div class='selected-text r'>R</div>
</script>

{{// Filter Descriptions }}
<script id='template-create-abilities-filter-info-damage' type='text/template'>
    <strong>Damage</strong>: Abilities that decrease an enemy's health
</script>
<script id='template-create-abilities-filter-info-debuff' type='text/template'>
    <strong>Debuff</strong>: Abilities that weaken an enemy, making your opponent easier to defeat
</script>
<script id='template-create-abilities-filter-info-heal' type='text/template'>
    <strong>Heal</strong>: Abilities that restore your own health, kepeing you alive
</script>
<script id='template-create-abilities-filter-info-buff' type='text/template'>
    <strong>Buff</strong>: Abilities that strengthen you, making you harder to kill
</script>


{{// Abilities description }}
<script id='template-create-abilities-item-info' type='text/template'>
<% if(id !== ''){ %>
    <div class='header'>
        <img src='/static/img/abilities/<%= id %>.svg' 
            class='ability-icon' />
        <strong><%= name %></strong>

        <div class='cast-time-meta'>
            Cast Time: 
        </div>
        <div class='cast-time-value'>
            <%= castTime %>
        </div>
        <div class='ability-timer-bar'>
            <!-- HORIZONTAL -->
            <div class='inner-bar' 
                style='width: <%= (castTime / data.maxCastTime) * 100 | 0 %>%;'>
            </div>
        </div>
    </div>

    <div class='description-text'>
        <%= description %>
    </div>
<% } %>
</script>
