<div id='create-abilities-header' class='opacity-zero'>
    <h2>Abilities</h2>
</div>

<div id='create-abilities-wrapper' class='opacity-zero'>
    <div id='region-create-all-abilities-list' 
        class='interaction opacity-zero interaction-list'>
        <!-- abilities filled in here -->
    </div>

    <!-- Description -->
    <div id='create-all-abilities-description'>
    </div>

    <!-- Selected Abilities -->
    <div id='create-selected-abilities-wrapper'>

        <div id='create-selected-abilities'>

            <div class='create-selected-abilities-item'
            id='create-selected-abilities-1'>
                <span class='selected-hotkey'>Q</span>
            </div>
            <div class='create-selected-abilities-item'
            id='create-selected-abilities-2'>
                <span class='selected-hotkey'>W</span>
            </div>
            <div class='create-selected-abilities-item'
            id='create-selected-abilities-3'>
                <span class='selected-hotkey'>E</span>
            </div>
            <div class='create-selected-abilities-item'
            id='create-selected-abilities-4'>
                <span class='selected-hotkey'>R</span>
            </div>

            <div class='clear'></div>
        </div>
        <div class='clear'></div>
    </div>
</div>
