{{// Race list and race items }}
<script id='template-create-race-list-item' type='text/template'>
    <div class='item <% if(disabled){ %>disabled<% } %>' data-race-cid='<%= cid %>'>
        <% if(disabled){ %>
            <img src='/static/img/characters/<%= sprite %>-disabled.gif' class='race-image' height='50' width='50' />
        <% } else { %>
            <img src='/static/img/characters/<%= sprite %>.gif' class='race-image' height='50' width='50' />
        <% } %>

        <span class='race-name'>
            <% if(disabled){ %>
                Undiscovered
            <% } else { %>
                <%= name %>
            <% } %>
        </span>
    </div>
</script>

{{ // viz templates }}
<script id='template-create-race-viz' type='text/template'>
    <% _.each(stats, function(value, key){ %>
        <div>
            <%= key %>: <%= value %>
        </div>
    <% }); %>
</script>


<!-- TEMPLATE for race info -->
<script id='template-create-race-description' type='text/template'>
    <div id='create-race-bonus'>
        <%= model.attributes.specialDescription %>
    </div>
    <div id='create-race-info'>
        <%= model.attributes.description %>
    </div>
</script>
