<h2>
    Scars
    <br />
    <div class='ofthe'>
        of the
    </div>
    Untrodden
</h2>
<hr />

<div class='page-title-description'>
    <p id='create-title-intro-text' class='p1 opacity-zero'>
        I am old and tired now, but I was not young when the destruction of Felithport began. The years since then seem more dim and faded than the years of my youth. Now, I wait. Like a gnarled tree, withered and weathered, with nothing to do but decay to the grave.
    </p>

    <p id='name-input-wrapper' class='p2 opacity-zero'>
    I was infamous; most people knew me as:

    <input id='create-name' 
        class='interaction opacity-zero'
        maxlength=22
        placeholder=''
        type='text' 
        />
    </p>

</div>
