{{// Race list and race items }}
<script id='template-create-race-list-item' type='text/template'>
    <div class='item' data-race-cid='<%= cid %>'>
        <img src='/static/img/characters/<%= sprite %>.gif' height='50' width='50' />
        <%= name %>
    </div>
</script>

{{ // viz templates }}
<script id='template-create-race-viz' type='text/template'>
    <% _.each(stats, function(value, key){ %>
        <div>
            <%= key %>: <%= value %>
        </div>
    <% }); %>
</script>


<!-- TEMPLATE for race info -->
<script id='template-create-race-description' type='text/template'>
    <h3>
        <%= model.attributes.name %>
    </h3>

    <div id='race-visualizations'>
        <%= model.attributes.description %>
    </div>
</script>
