#book-page-title {

    p {
        margin: 1em 0 1.5em;
    }
    h2 { 
        font-size: 3.4em;
        font-variant: small-caps;
        margin-top: 14px;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
    }
    .ofthe {
        font-size: 0.5em;
    }

    input {
        background: $BACKGROUND-INTERACTION;
        border: none;
        border-bottom: 1px solid $COLOR-INTERACTION-BORDER;
        border-top: 1px solid $COLOR-INTERACTION-BORDER;
        color: $COLOR-INTERACTION-TEXT;
        display: table;
        font-family: $input-font;
        font-size: 1.4em;
        font-weight: bold;
        font-variant: small-caps;
        margin: 0 auto;
        letter-spacing: 2.2px;
        text-align: center;
        width: 270px;
        max-width: 320px;
    }
    input:focus {
        outline:none;
    }
    ::-webkit-input-placeholder { 
        color: $COLOR-INTERACTION-PLACEHOLDER;
    }
    :-moz-placeholder { 
        color: $COLOR-INTERACTION-PLACEHOLDER;
    }
    ::-moz-placeholder { 
        color: $COLOR-INTERACTION-PLACEHOLDER;
    }
    :-ms-input-placeholder { 
        color: $COLOR-INTERACTION-PLACEHOLDER;
    }

    #name-input-wrapper {
        bottom: 42px;
        left: 30px;
        margin: 3em 0 0 0;
        position: absolute;
        right: 24px;
    }
}
