#book-page-abilities {
    h2 {
        text-align: center;
    }

    .interaction-list .list-item {
        opacity: 1;
    }
    .interaction-list .item {
        opacity: 0.5;
    }
    .list-item:hover .item { 
        opacity: 0.7;
    }
    .list-item.selected .item {
        opacity: 1;
    }

    #create-abilities-wrapper {
    }
    #region-create-all-abilities-list {
        height: 248px;

        .list-item { @include transition("all 0.2s"); }

        .list-item{ 
            cursor: cell;
            span, img, div { cursor: cell; }
        }

        .list-item.selected { 
            cursor: alias;
            height: 38px;
            padding-bottom: 2px;
            padding-top: 0px; 
            span, img, div { cursor: alias; }
        }

        .list-item .list-item-name {
            font-size: 0.9em;
        }
        .list-item.selected .list-item-name {
            font-size: 0.9em;
        }    
    }

    // Filter Labels
    #create-abilities-filter-wrapper {
        margin-top: 4px;
        margin-bottom: 8px;
        position: relative;

        // OLD
        .label-filter {
            background: none;
            color: #ffffff;
            cursor: alias;
            display: block;
            font-family: $header-font;
            font-weight:bold;
            font-size: 10px;
            float: left;
            height: 34px;
            margin-right: 7px;
            padding: 6px 0;
            position: relative;
            text-align: center;
            width: 77px;
        }

        .label-filter:nth-child(1) {
            height: 35px;
            margin-right: 6px;
            width: 86px;
        }
        .label-filter:nth-child(2) {
            height: 32px;
            margin-right: 6px;
            width: 80px;
        }
        .label-filter:nth-child(3) {
            margin-right: 5px;
            width: 76px;
        }
        .label-filter:nth-child(4) {
            height: 34px;
            margin-right: 0;
            width: 76px;
        }

        //// appearance - OLD
        //.label-filter {
        //    background: #343434;
        //    border: 1px solid rgba(255,255,255,0.7);
        //}

        /*// original colors (not so great on page)*/
        //.label-filter-damage { background: $COLOR-ABILITY-DAMAGE; }
        //.label-filter-buff { background: $COLOR-ABILITY-BUFF; }
        //.label-filter-debuff { background: $COLOR-ABILITY-DEBUFF; }
        //.label-filter-heal { background: $COLOR-ABILITY-HEAL; }


        .bg, .label-name { cursor: inherit; }

        // NEW : filtered BG
        .label-filter .bg {
            background: rgba(255, 21, 21, 0.52);
            border-radius: 4px;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;

            -webkit-filter: url('#filter-map');
            z-index: 1;
        }

        .label-filter:nth-child(1) .bg ,
        .label-filter:nth-child(3) .bg {
            -webkit-filter: url('#filter-map-more-turbulence');
        }

        .label-name {
            color: #e0e0e0;
            padding: 6px 0 0 0;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;

            font-family: $interaction-font;
            //text-decoration: underline;
            text-shadow: 0 0 0.5px #343434;
            z-index: 10;
        }


        .label-filter, 
        .label-filter .label-name,
        .label-filter .bg {
            //@include transition("opacity 0.2s, rotate 0.2s");
            @include transition("background 0.2s, opacity 0.2s");
        }

        .label-filter { 
            // OLD:
            //box-shadow: 0 0 2px #343434, inset 0px 0px 4px #343434, inset 0 0 2px #ffffff, 0 0 12px $COLOR-ABILITY-DAMAGE, 1px 1px 14px $COLOR-ABILITY-DAMAGE;
            &.label-filter-damage .bg { 
                background: #8F2929;
                background: #8B4D4D;
            }
            &.label-filter-debuff .bg { 
                background: #66543c;
            }
            &.label-filter-heal .bg { 
                background: #547650;
            }
            &.label-filter-buff .bg { 
                background: #3D5D7C;
            }

            .label-name {
                font-size: 1.6em;
                letter-spacing: 0.5px;
            }

            // give it a spin
            // TODO: Start out as a spin?
            .label-name {
                //@include transform(rotate(-14deg));
            @include transform(rotate(0deg));
            }
        }

        // lighten BG when hover
        .label-filter:hover { 
            // OLD:
            //box-shadow: 0 0 2px #343434, inset 0px 0px 4px #343434, inset 0 0 2px #ffffff, 0 0 12px $COLOR-ABILITY-DAMAGE, 1px 1px 14px $COLOR-ABILITY-DAMAGE;
            &.label-filter-damage .bg {  
            }
            &.label-filter-debuff .bg {  
            }
            &.label-filter-heal .bg {  
            }
            &.label-filter-buff .bg {  
            }
        }

        // on hover, rotate opposite
        .label-filter:hover .label-name {
            //@include transform(rotate(0deg));
            @include transform(rotate(-14deg));
        }

        .label-filter.inactive {
            .label-name {
                @include transform(rotate(0deg));
                font-size: 1.1em;
                margin-top: 4px;
            }
            cursor: cell;
            opacity: 0.27;
        }

        .label-filter.inactive.hover {
            .label-name {
                @include transform(rotate(-14deg));
            }
            // OLD:
            //opacity: 0.5;
            //box-shadow: 0 0 2px #343434, inset 0px 0px 4px #343434, inset 0 0 2px #ffffff, 0 0 12px $COLOR-INTERACTION, 1px 1px 14px $COLOR-INTERACTION;
        }
    }
}

#book-pages {
    // Selected abilities
    #create-selected-abilities-wrapper {
        @include transition("opacity 0.6s");
        bottom: 30px;
        opacity: 0;
        padding-bottom: 10px;
        position: absolute;
        left: 26px;
        right: 30px;


        h3 { 
            @include transition("background 0.15s");
            background: none;
            padding: 4px 0;
            padding-top: 6px;
            margin-bottom: 6px;
            margin-top: 0;
            text-align: center;
        }
        h3.flash {
            background: rgba(255,255,255,0.7);
        }

        .selected-hotkey {
            position: absolute;
            left: 17px;
            top: 15px;
            opacity: 0.7;
        }
    }
    #create-selected-abilities-wrapper.visible {
        opacity: 1;
    }

    #create-selected-abilities {
        position: relative;
        left: 50px;
    }
    .create-selected-abilities-item {
        @include transition("box-shadow 0.1s");
        border: 1px solid rgba(255,255,255,0.5);
        background: rgba(40,40,40,0.07);
        color: #ffffff;
        float: left;
        height: 54px;
        margin: 0 1% 0;
        position: relative;
        width: 54px;
        box-shadow: 0 0 2px #343434, inset 0px 0px 4px #343434, inset 0 0 2px #ffffff;
        text-shadow: 0 0 1px #343434, 1px 1px 0 #343434, 0 0 2px #343434;


        img {
            @include noSelect();
            cursor: alias;
            position: absolute;
            height: 100%;
            width: 100%;
            right: 0;
            left: 0;
        }
    }
    .create-selected-abilities-item.hover {
        box-shadow: 0 0 2px #343434, inset 0px 0px 4px #343434, inset 0 0 2px #ffffff, 0 0 18px $COLOR-ABILITY-DAMAGE, 1px 1px 20px $COLOR-ABILITY-DAMAGE;
    }
}


// ------------------------------
// ABILITY Item Labels
// ------------------------------
$ability-label-width: 8px;

.ability-list-item-meta-wrapper {
    bottom: 0;
    font-family: $mono-font;
    font-size: 14px;
    position: absolute;
    right: 20px + ($ability-label-width * 5); // num labels - 5
    top: 0;

    .ability-label {
        //@include transform(rotate(-90deg));
        //writing-mode: tb-rl;

        background: #232323;
        bottom: 0;
        cursor: pointer;
        color: #f0f0f0;
        font-size: 8px;
        height: 100%;
        line-height: 8px;
        opacity: 0.3;
        padding: 2px 2px 0 2px;
        position: absolute;
        left: 0;
        top: 0;
        width: $ability-label-width;

        // COLOR: Hide
        color: rgba(0,0,0,0) !important;
    }

    // ability types types
    .ability-label.damage {
        background: $COLOR-ABILITY-DAMAGE;
        padding-top: 5px;
        left: 0;
    }
    .ability-label.debuff{
        background: $COLOR-ABILITY-DEBUFF;
        left: $ability-label-width * 1;
    }
    .ability-label.heal{
        background: $COLOR-ABILITY-HEAL;
        left: $ability-label-width * 2;
    }
    .ability-label.buff {
        background: $COLOR-ABILITY-BUFF;
        left: $ability-label-width * 3;
    }
}

// selected / hover labels
.list-item:hover .ability-list-item-meta-wrapper .ability-label {
    opacity: 0.6;
}
.list-item.selected .ability-list-item-meta-wrapper .ability-label {
    opacity: 1;
}

// --------------------------------------
// NEW STLYE FOR ABILITIES
// --------------------------------------
#region-create-all-abilities-list .all-ability-list {
    bottom: 0; left: 0; position: absolute; right: 0; top: 0;
    overflow: auto;
    overflow-x: hidden;

    $ability-icon-size: 40px;
    
    .list-item {
        height: $ability-icon-size;
        float: left;
        margin: 4px;
        padding: 4px;
        position: relative;
        width: $ability-icon-size;

        img {
            border: 3px solid rgba(0,0,0,0);
            height: $ability-icon-size;
            width: $ability-icon-size;
        }
    }

    .list-item.selected {
        background: none;
        img {
            border: 3px solid rgba(0,0,0,0.5);
        }
    }

    .list-item.hide-from-list, 
    .list-item.hide-from-list.selected, 
    {
        opacity: 0.1;
    }
}
