#book-page-race {
    h2 {
        text-align: center;
    }

    #create-race-wrapper {
        margin-bottom: 1em;
        position: relative;

        .fade-out-top {
            background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255, 1));
        }
    }

    #create-race-bonus {
        font-size: 0.9em;
        font-style: italic;
        margin-top: -5px;
        margin-bottom: 10px;
        text-align: center;

        .positive {
            color: rgba(0, 100, 16, 0.93);
            font-size: 1.15em;
            font-weight: bold;
        }
        .negative {
            color: rgba(95, 0, 0, 0.93);
            font-size: 1.15em;
            font-weight: bold;
        }
    }
    #create-race-info {
        font-size: 0.9em;
        padding: 0 5px;
    }

    #home-race-visualization {
        position: absolute;
        bottom: $book-inner-padding - 10;
        height: 102px;
        left: $book-inner-padding;
        right: $book-inner-padding;

        .outline {
            fill: none;
            stroke: rgba(0,0,0,0.5);
            stroke-width: 1px;
        }
        .bar.Health {
            fill: rgba(161, 32, 32, 0.27);
        }
        .bar.Power{
            fill: rgba(233, 233, 179, 0.25);
        }
        .bar.Defense{
            fill: rgba(43, 92, 88, 0.32);
        }

        .label { 
            font-family: $input-font;
            font-size: 0.95em;
            fill: rgba(20, 20, 20, 0.65);
        }
    }
}

#region-create-races, .interaction-list {
    $race-height: 50px;

    background: $BACKGROUND-INTERACTION;
    border-bottom: 1px solid $COLOR-INTERACTION-BORDER;
    border-top: 1px solid $COLOR-INTERACTION-BORDER;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    height: $race-height * 4 + 10;
    position: relative;
    overflow: hidden;

    .race, .list-item-wrapper {
        height: $race-height;
        font-size: 1.3em;
        margin-left: 20%;
        width: 70%;
    }
    .race img {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .race-list-item, .list-item {
        //@include transition("all 0.25s");
        @include transition("padding 0.2s, opacity 0.2s");
        color: #b0b0b0;
        padding-left: 0;
        opacity: 0.5;
    }
    .list-item {
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .race-list-item:hover, .list-item:hover {
        background: $BACKGROUND-INTERACTION-LIGHT; 
        padding-left: 20px;
        opacity: 0.7;
    }
    .race-list-item.selected, .list-item.selected {
        background: $BACKGROUND-INTERACTION; 
        color: #ffffff;
        padding-left: 40px;
        font-family: $input-font;
        font-size: 1.4em;
        font-variant: small-caps;
        opacity: 1;
    }

    // disabled
    .race-list-item.disabled, .list-item.disabled {
        cursor: not-allowed;
        * {
            cursor: not-allowed;
        }
        .race-image {
            @include filter(blur(1px));
        }
    }
    .race-list-item.disabled:hover, .list-item.disabled:hover {
        background: $BACKGROUND-INTERACTION-LIGHT; 
        color: #b0b0b0;
        padding-left: 0;
        opacity: 0.6;
    }

    .race-list-item img, .list-item img { cursor: pointer; }
    .race-name, .list-item-name { 
        color: $COLOR-INTERACTION-TEXT;
        cursor: pointer; 
        opacity: 0.3;
    }
    .race-list-item.selected .race-name { opacity: 1; }
    .list-item.selected .list-item-name { opacity: 1; }
}
