#book-page-abilities {
    h2 {
        text-align: center;
    }

    .interaction-list .list-item {
        opacity: 1;
    }
    .interaction-list .item {
        opacity: 0.5;
    }
    .list-item:hover .item { 
        opacity: 0.7;
    }
    .list-item.selected .item {
        opacity: 1;
    }

    #create-abilities-wrapper {
    }
    #region-create-all-abilities-list {
        height: 248px;

        .list-item {
            height: 38px;
            padding-bottom: 2px;
            padding-top: 4px;
            position: relative;

            img {
                height: 30px;
                width: 30px;
            }
        }

        .list-item.selected { 
            height: 38px;
            padding-bottom: 2px;
            padding-top: 0px;
        }

        .list-item .list-item-name {
            font-size: 0.9em;
        }
        .list-item.selected .list-item-name {
            font-size: 0.9em;
        }    
    }
}

#book-pages {
    // Selected abilities
    #create-selected-abilities-wrapper {
        @include transition("opacity 0.6s");
        bottom: 40px;
        opacity: 0;
        position: absolute;
        left: 26px;
        right: 30px;


        h3 { 
            margin-bottom: 6px;
            text-align: center;
        }

        .selected-hotkey {
            position: absolute;
            left: 17px;
            top: 15px;
            opacity: 0.7;
        }
    }
    #create-selected-abilities-wrapper.visible {
        opacity: 1;
    }

    #create-selected-abilities {
        position: relative;
        left: 50px;
    }
    .create-selected-abilities-item {
        border: 1px solid rgba(255,255,255,0.5);
        background: rgba(40,40,40,0.07);
        color: #ffffff;
        float: left;
        height: 54px;
        margin: 0 1% 0;
        position: relative;
        width: 54px;
        box-shadow: 0 0 2px #343434, inset 0px 0px 4px #343434, inset 0 0 2px #ffffff;
        text-shadow: 0 0 1px #343434, 1px 1px 0 #343434, 0 0 2px #343434;


        img {
            cursor: alias;
            position: absolute;
            height: 100%;
            width: 100%;
            right: 0;
            left: 0;
        }
    }
}


// ------------------------------
// ABILITY Item Labels
// ------------------------------
$ability-label-width: 8px;

.ability-list-item-meta-wrapper {
    bottom: 0;
    font-family: $mono-font;
    font-size: 14px;
    position: absolute;
    right: 20px + ($ability-label-width * 5); // num labels - 5
    top: 0;

    .ability-label {
        //@include transform(rotate(-90deg));
        //writing-mode: tb-rl;

        background: #232323;
        bottom: 0;
        cursor: pointer;
        color: #f0f0f0;
        font-size: 8px;
        height: 100%;
        line-height: 8px;
        opacity: 0.3;
        padding: 2px 2px 0 2px;
        position: absolute;
        left: 0;
        top: 0;
        width: $ability-label-width;

        // COLOR: Hide
        color: rgba(0,0,0,0) !important;
    }


    // ability types types
    .ability-label.damage {
        background: #cc3333;

        background: #E34949;
        padding-top: 5px;
        left: 0;
    }
    .ability-label.debuff{
        background: #944E20;
        left: $ability-label-width * 1;
    }
    .ability-label.heal{
        background: #56A64C;
        left: $ability-label-width * 2;
    }
    .ability-label.buff {
        background: #4988B2;
        left: $ability-label-width * 3;
    }
    .ability-label.util {
        background: #DDEB4C;
        left: $ability-label-width * 4;
    }
}

// selected / hover labels
.list-item:hover .ability-list-item-meta-wrapper .ability-label {
    opacity: 0.6;
}
.list-item.selected .ability-list-item-meta-wrapper .ability-label {
    opacity: 1;
}
