#book-page-abilities {
    h2 {
        text-align: center;
    }

    .interaction-list .list-item {
        opacity: 1;
    }
    .interaction-list .item {
        opacity: 1;
    }
    .list-item.selected .item {
        opacity: 1;
    }

    #create-abilities-wrapper {
        -webkit-overflow-scrolling: touch;
        margin-top: -4px;
    }
    #region-create-all-abilities-list {
        height: 227px;
        overflow: none;

        .all-ability-list{ 
            overflow-y: scroll;
        }
        .list-item { @include transition("all 0.2s"); }

        .list-item .list-item-name {
            font-size: 0.9em;
        }
        .list-item.selected .list-item-name {
            font-size: 0.9em;
        }    
    }

    // Filter Labels
    #create-abilities-filter-wrapper {
        margin-top: 4px;
        margin-bottom: 8px;
        position: relative;

        // OLD
        .label-filter {
            background: none;
            color: #ffffff;
            cursor: alias;
            display: block;
            font-family: $header-font;
            font-weight:bold;
            font-size: 10px;
            float: left;
            height: 34px;
            margin-right: 7px;
            padding: 6px 0;
            position: relative;
            text-align: center;
            width: 77px;
        }

        .label-filter:nth-child(1) {
            height: 35px;
            margin-right: 6px;
            width: 86px;
        }
        .label-filter:nth-child(2) {
            height: 32px;
            margin-right: 6px;
            width: 80px;
        }
        .label-filter:nth-child(3) {
            margin-right: 5px;
            width: 76px;
        }
        .label-filter:nth-child(4) {
            height: 34px;
            margin-right: 0;
            width: 76px;
        }

        //// appearance - OLD
        //.label-filter {
        //    background: #343434;
        //    border: 1px solid rgba(255,255,255,0.7);
        //}

        /*// original colors (not so great on page)*/
        //.label-filter-damage { background: $COLOR-ABILITY-DAMAGE; }
        //.label-filter-buff { background: $COLOR-ABILITY-BUFF; }
        //.label-filter-debuff { background: $COLOR-ABILITY-DEBUFF; }
        //.label-filter-heal { background: $COLOR-ABILITY-HEAL; }


        .bg, .label-name { cursor: inherit; }

        // NEW : filtered BG
        .label-filter .bg {
            background: rgba(255, 21, 21, 0.52);
            border-radius: 4px;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;

            -webkit-filter: url('#filter-map');
            z-index: 1;
        }

        .label-filter:nth-child(1) .bg ,
        .label-filter:nth-child(3) .bg {
            -webkit-filter: url('#filter-map-more-turbulence');
        }

        .label-name {
            color: #e0e0e0;
            padding: 6px 0 0 0;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;

            font-family: $interaction-font;
            //text-decoration: underline;
            text-shadow: 0 0 0.5px #343434;
            z-index: 10;
        }


        .label-filter, 
        .label-filter .label-name,
        .label-filter .bg {
            //@include transition("opacity 0.2s, rotate 0.2s");
            @include transition("background 0.2s, opacity 0.2s");
        }

        .label-filter { 
            // OLD:
            //box-shadow: 0 0 2px #343434, inset 0px 0px 4px #343434, inset 0 0 2px #ffffff, 0 0 12px $COLOR-ABILITY-DAMAGE, 1px 1px 14px $COLOR-ABILITY-DAMAGE;
            &.label-filter-damage .bg { 
                background: $COLOR-ABILITY-DAMAGE;
            }
            &.label-filter-debuff .bg { 
                background: $COLOR-ABILITY-DEBUFF;
            }
            &.label-filter-heal .bg { 
                background: $COLOR-ABILITY-HEAL;
            }
            &.label-filter-buff .bg { 
                background: $COLOR-ABILITY-BUFF;
            }

            .label-name {
                font-size: 1.6em;
                letter-spacing: 0.5px;
            }

            // give it a spin
            // TODO: Start out as a spin?
            .label-name {
                //@include transform(rotate(-14deg));
            @include transform(rotate(0deg));
            }
        }

        // lighten BG when hover
        .label-filter:hover { 
            // OLD:
            //box-shadow: 0 0 2px #343434, inset 0px 0px 4px #343434, inset 0 0 2px #ffffff, 0 0 12px $COLOR-ABILITY-DAMAGE, 1px 1px 14px $COLOR-ABILITY-DAMAGE;
            &.label-filter-damage .bg {  
            }
            &.label-filter-debuff .bg {  
            }
            &.label-filter-heal .bg {  
            }
            &.label-filter-buff .bg {  
            }
        }

        // on hover, rotate opposite
        .label-filter:hover .label-name {
            //@include transform(rotate(0deg));
            @include transform(rotate(-14deg));
        }

        .label-filter.inactive {
            .label-name {
                @include transform(rotate(0deg));
                font-size: 1.1em;
                margin-top: 4px;
            }
            cursor: cell;
            opacity: 0.27;
        }

        .label-filter.inactive.hover {
            .label-name {
                @include transform(rotate(-14deg));
            }
            // OLD:
            //opacity: 0.5;
            //box-shadow: 0 0 2px #343434, inset 0px 0px 4px #343434, inset 0 0 2px #ffffff, 0 0 12px $COLOR-INTERACTION, 1px 1px 14px $COLOR-INTERACTION;
        }
    }
}

#book-wrapper {

    // timer bar
    // VERTICAL
    .damage-amount-bar {
        background: #000000;
        border: 2px solid #ffffff;
        bottom: 0;
        position: absolute;
        right: -5px;
        top: 0px;
        width: 7px;
        z-index: 10;

        .inner-bar {
            background: #ffffff;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
        }
    }

    // HORIZONTAL
    .selected .ability-timer-bar {
        background: $COLOR-INTERACTION-SELECTED;
        border: 2px solid $COLOR-INTERACTION-SELECTED;
    }

    .list-item:hover .ability-timer-bar {
        background: #ffffff;
        border: 2px solid #ffffff;
    }

    .ability-timer-bar {
        background: #d0d0d0;
        border: 2px solid #d0d0d0;

        bottom: -4px;
        left: 1px;
        height: 6px;
        position: absolute;
        right: 0;
        top: auto;
        width: 100%;
        z-index: 10;

        .inner-bar {
            bottom: 0;
            background: #000000;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        .inner-bar { -webkit-filter: url(#filter-wavy-ability-icon); }
    }

    //.description-shown {
    //    box-shadow: 0 0 2px #336699, 0 0 6px #336699;
    //}

    // Selected abilities
    #create-selected-abilities-wrapper {
        @include transition("opacity 0.6s");
        bottom: 46px;
        // Show on page 2
        display: none;
        opacity: 0;
        padding-bottom: 10px;
        position: absolute;
        left: 26px;
        right: 30px;

        // for newer, absolute position
        // why do we need to put this outside the view hierarchy? well, because
        //  hovering over class list triggers a dang repaint on the entire
        //  page
        left: 64px;
        right: 0;
        width: 361px;


        h3 { 
            @include transition("background 0.15s");
            background: none;
            padding: 4px 0;
            padding-top: 6px;
            margin-bottom: 2px;
            margin-top: 0;
            text-align: center;
        }
        h3.flash {
            background: rgba(255,255,255,0.7);
        }

        .selected-hotkey {
            bottom: -16px;
            color: #ffffff;
            font-size: 20px;
            font-weight: bold;
            position: absolute;
            z-index: 1000;
            text-shadow: 0 0 1px #000000, 0 1px 0 #000000, 1px 0 0 #000000, 0 0 5px #000000, 0 0 10px #000000;
        }
        .selected-hotkey.q { left: 22px; }
        .selected-hotkey.w { left: 81px; }
        .selected-hotkey.e { left: 147px; }
        .selected-hotkey.r { left: 208px; }
    }
    #create-selected-abilities-wrapper.visible {
        opacity: 1;
    }

    #create-selected-abilities {
        position: relative;
        left: 50px;
    }

    .create-selected-abilities-item {
        //// this is too slow...
        //@include transition("box-shadow 0.1s");

        background: rgba(40,40,40,0.07);
        color: #ffffff;
        float: left;
        height: 54px;
        margin: 0 1% 0;
        position: relative;
        width: 54px;
        text-shadow: 0 0 1px #343434, 1px 1px 0 #343434, 0 0 2px #343434;


        img {
        //box-shadow: $BOX-SHADOW-INTERACTION-SELECTED;
        box-shadow: 0 0 1px #ffffff, 0 0 4px $COLOR-INTERACTION-SELECTED, 0 0 20px $COLOR-INTERACTION-SELECTED;

            border: 3px solid $COLOR-INTERACTION-SELECTED;
            cursor: alias;
            position: absolute;
            height: 100%;
            width: 100%;
            right: 0;
            left: 0;
        }
    }

    .create-selected-abilities-item.empty-skill {
        border: 1px solid rgba(255,255,255,0.5);
        box-shadow: 0 0 2px #343434, inset 0px 0px 4px #343434, inset 0 0 2px #ffffff;
    }

    .create-selected-abilities-item.hover img{
        box-shadow: 0 0 1px #343434, inset 0px 0px 4px #343434, 0 0 18px #aa2222, 1px 1px 20px #aa2222;
    }
}
#book-wrapper.step-2 #create-selected-abilities-wrapper { display: block; }



// --------------------------------------
//
// NEW STLYE FOR ABILITIES
//
// --------------------------------------
#region-create-all-abilities-list .all-ability-list {
    bottom: 0; left: 0; position: absolute; right: 0; top: 0;
    overflow: auto;
    overflow-x: hidden;

    $ability-icon-size: 42px;

    .list-item {
        background: none;
        height: $ability-icon-size;
        float: left;
        margin: 4px 6px 10px 5px;
        padding: 0px;
        position: relative;
        width: $ability-icon-size;

        cursor: cell;
        span, img, div { cursor: cell; }

        img {
            @include noSelect();
            border: 3px solid #000000;
            border-radius: 2px;
            height: $ability-icon-size;
            width: $ability-icon-size;
            filter: none;
        }

        .item { background: none; }

        // NOTE: Ability timer bar is defined elsewhere
    
    }

    .list-item:hover {
        .item {  
            background: #ffffff;
            opacity: 0.85;
            box-shadow: 0 0 1px #ffffff, 0 0 16px #ffffff;
            img { border: 2px solid #ffffff; }
        }
    }

    .list-item.selected {
        .item { 
            background: #96D7D7;
        }
        cursor: alias;
        //padding-bottom: 2px;
        //padding-top: 0px; 
        span, img, div { cursor: alias; }
        box-shadow: 0 0 2px #003984, 0 0 22px $COLOR-INTERACTION-SELECTED;

        img {
            border-radius: 2px;
            border: 3px solid $COLOR-INTERACTION-SELECTED;
        }
    }

    .list-item.selected:hover .item { 
        opacity: 1;
        cursor: alias;
        box-shadow: 0 0 12px #dd2222;
        span, img, div { cursor: alias; }
        img {
            border: 3px solid $COLOR-INTERACTION-SELECTED;
        }
    }

    .list-item.hide-from-list, 
    .list-item.hide-from-list.selected, 
    {
        opacity: 0.1;
    }

    .list-item .too-many-selected { 
        background: #dd2222 !important;
        opacity: 0.2 !important; 
    }

}

// ======================================
//
// Description
//
// ======================================
#create-all-abilities-description {
    .header { 
        position: relative;
    }

    .description-text {
        font-size: 0.9em;
    }
    .ability-icon {
        border: 2px solid #ffffff;
        height: 34px;
        width: 34px;
    }

    .cast-time-meta {
        font-size: 0.7em;
        left: 220px;
        opacity: 0.7;
        position: absolute;
        top: 3px;
    }
    .cast-time-value{
        font-size: 0.7em;
        font-weight: bold;
        opacity: 1;
        position: absolute;
        right: 6px;
        top: 3px;
    }

    .ability-timer-bar {
        background: rgba(255,255,255,0.42);
        border: 2px solid rgba(255,255,255,0.4);
        bottom: 6px;
        left: 220px;
        width: auto;
        right: 6px;

        .inner-bar { -webkit-filter: url(#filter-wavy-ability-icon); }
    }

}
