// --------------------------------------
//
// Game battle
//
// --------------------------------------
// battle node
.game-battle-wrapper {
    background: #343434 url('../../img/ui/map-empty-bg.png'); 
    bottom: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    right: 0;
    top: 0;

    // --------------------------------------
    //
    // middle area - battle, chat log
    //
    // --------------------------------------
    #battle-center-wrapper {
        bottom: 0;
        left: $ui-left-side-width;
        position: absolute;
        right: $ui-right-side-width;
        top: 0;
    }

        // SVG wrapper and SVG
        #battle-wrapper {
            bottom: $ui-log-height + 80;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 80;

            #battle {
                // this is the actual SVG element. it should take up 100% width
                // and height so it scales to fit the parent
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width:100%; 
            }
        }

        #region-battle-log-wrapper {
            background: url(../../img/ui/combat-log-bg.png) no-repeat;
            background-size: cover;
            bottom: 0;
            font-family: $main-font;
            font-size: 0.8em;
            height: $ui-log-height;
            left: 0;
            position: absolute;
            right: 0;

            .battle-log-container {
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
            #battle-log {
                bottom: 2px;
                left: 31px;
                overflow-x: hidden;
                overflow-y: scroll;
                position: absolute;
                right: 0;
                top: 8px;

                .log {
                    position: relative;
                }


                .entity-name,
                .ability,
                .zero,
                .damage,
                .heal {
                    font-weight: bold;
                    margin: 0 4px;
                    text-shadow: 0 0 1px #121212, 0 1px 0 #101010, 0 0 6px #000000;
                }
                .heal { color: #1CB51C; }
                .ability { color: #c5a92f; }

                .enemy { color: #987256; }
                .player { color: #336699; }

                .zero { color: #888888; }
                .damage { color: #dd2222; }

                .critical { 
                    font-size: 1.1em; 
                }
                .critical:after {
                    content: '!';
                }

                .date {
                    color: #232323;
                    font-size: .9em;
                    position: absolute; 
                    right: 30px;
                    top: 0;
                }
            }
    
    // --------------------------------------
    //
    // pause
    //
    // --------------------------------------
    .pause-blocker.active {
        fill: #ababab !important;
        opacity: 0.6 !important;
    }

}

// --------------------------------------
//
// Info Message
//
// --------------------------------------
#battle-info-message {
    bottom: $ui-log-height + 20px + 80px;
    left: 40%;
    color: #ffffff;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 1px #000000, 0 1px 0 #000000, 1px 0 0 #000000, 0 0 5px #000000, 0 0 10px #000000;
    width: 170px;
    z-index: 99999;

    .message {
        @include transition("all 0.8s");
        @include transform(translate3d(0, 0, 0));
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
    }
    .message.fade-animation {
        @include transform(translate3d(0, -70px, 0));
        font-size: 0.7em;
        opacity: 0;
    }
}
