.node {
  cursor: pointer; }

#region-map {
  z-index: 100; }

.entity {
  fill: #336699;
  stroke: #ffffff; }

.enemy-entity {
  fill: #dd4444;
  stroke: #ffffff; }

.timer-bar-border {
  fill: none;
  stroke: #343434; }

.timer-bar {
  fill: #ffffff;
  stroke: none; }

.ability-list-wrapper .ability-item-wrapper {
  border: 1px solid #343434;
  float: left;
  width: 24%;
  background-color: transparent;
  -moz-transition: background-color 0.1s;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s; }

.ability-list-wrapper .ability-item-wrapper.use-invalid {
  background-color: #cdcdcd; }

.ability-list-wrapper .ability-item-wrapper.use {
  background-color: #44dd44; }

.pause-blocker.active {
  fill: #ababab !important;
  opacity: 0.6 !important; }

#region-node-instance-wrapper {
  background: #ffffff;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 75px;
  z-index: 1000; }

body {
  font-size: 17px;
  color: #000; }

body, #region-main {
  -webkit-overflow-scrolling: touch; }

.navbar-spacer {
  padding-top: 80px; }

a {
  cursor: pointer;
  color: #3387f5;
  text-decoration: none !important; }
  a:hover {
    color: #0b6cea; }

.preload-content {
  text-align: center;
  color: #999;
  font-weight: 500;
  margin: 3em 0; }

.hidden {
  display: none; }

.clear {
  clear: both; }

.blur {
  -webkit-filter: blur(10px) !important;
  filter: blur(10px) !important;
  opacity: 1 !important;
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=10) \9  !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=10) \9  !important;
  opacity: 1\9 !important;
  pointer-events: none; }
