#region-map {
  z-index: 100; }

#map .map-node {
  cursor: pointer;
  fill: #343434;
  stroke: #ffffff;
  stroke-width: 2px;
  transition: all .4s;
  -webkit-transition: all .4s; }
#map .node-visited {
  cursor: no-drop; }
#map .node-hover .map-node {
  fill: #f0f0f0; }
#map .node-current .map-node {
  cursor: default !important; }
#map .node-visited .map-node {
  fill: #44aa44 !important; }
#map .visited-path-dotted {
  fill: none;
  stroke: #343434;
  opacity: 0.9;
  stroke-width: 6px; }
#map .destination-path-dotted {
  fill: none;
  stroke: #ffffff;
  opacity: 0.6;
  stroke-dasharray: 10px 4px;
  stroke-width: 6px; }
#map .destination-path-animated {
  fill: none;
  stroke: #343434;
  stroke-width: 8px; }

#battle .effect-magicMissle path {
  fill: #ffffff; }

.page-create-character-wrapper .create-ability-wrapper {
  display: block;
  float: left;
  margin-right: 1%;
  width: 24%; }
.page-create-character-wrapper .create-ability-wrapper.damage {
  background: rgba(255, 20, 20, 0.8); }
.page-create-character-wrapper .create-ability-wrapper.heal {
  background: rgba(20, 255, 20, 0.8); }
.page-create-character-wrapper .create-ability-wrapper.heal.damage {
  background: -webkit-radial-gradient(left top, ellipse cover, #dd2222 12%, #22dd22 110%);
  background: -moz-radial-gradient(left top, ellipse cover, #dd2222 12%, #22dd22 110%);
  background: radial-gradient(left top, ellipse cover, #dd2222 12%, #22dd22 110%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45616a', endColorstr='#0f3545',GradientType=1 ); }

.page-create-character-wrapper .blur {
  opacity: 0.5 !important; }
.page-create-character-wrapper #create-race-class-wrapper {
  border: 2px solid #343434;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 350px;
  top: 0; }
.page-create-character-wrapper #create-races, .page-create-character-wrapper #create-classes {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  bottom: 0;
  border: 2px solid #343434;
  left: 0;
  position: absolute;
  transition: left 0.4s;
  top: 0;
  width: 350px; }
  .page-create-character-wrapper #create-races .race-title, .page-create-character-wrapper #create-classes .race-title {
    height: 50px; }
  .page-create-character-wrapper #create-races #region-create-races, .page-create-character-wrapper #create-races #region-create-classes, .page-create-character-wrapper #create-classes #region-create-races, .page-create-character-wrapper #create-classes #region-create-classes {
    -webkit-overflow-scrolling: touch;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 50px; }
    .page-create-character-wrapper #create-races #region-create-races .item, .page-create-character-wrapper #create-races #region-create-classes .item, .page-create-character-wrapper #create-classes #region-create-races .item, .page-create-character-wrapper #create-classes #region-create-classes .item {
      border: 1px solid #a0a0a0;
      cursor: pointer;
      padding: 8px 0; }
    .page-create-character-wrapper #create-races #region-create-races .item.active, .page-create-character-wrapper #create-races #region-create-classes .item.active, .page-create-character-wrapper #create-classes #region-create-races .item.active, .page-create-character-wrapper #create-classes #region-create-classes .item.active {
      background: #336699;
      color: #ffffff; }
.page-create-character-wrapper #create-races.list-hidden {
  left: -350px !important; }
.page-create-character-wrapper #create-classes.list-hidden {
  left: 350px !important; }
.page-create-character-wrapper #create-character-display-wrapper {
  bottom: 0;
  border: 2px solid #343434;
  position: absolute;
  left: 350px;
  right: 0;
  top: 0;
  transition: opacity 0.3s; }
  .page-create-character-wrapper #create-character-display-wrapper .name-wrapper {
    position: absolute;
    left: 0;
    height: 50px;
    overflow: hidden;
    right: 0;
    top: 0; }
  .page-create-character-wrapper #create-character-display-wrapper .character-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 50px; }
  .page-create-character-wrapper #create-character-display-wrapper .race-viz-wrapper {
    top: 0;
    position: absolute;
    right: 0px; }
.page-create-character-wrapper #create-state-buttons-wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  height: 50px;
  left: 0;
  right: 0; }
  .page-create-character-wrapper #create-state-buttons-wrapper .btn {
    border: 2px solid #343434;
    background: -webkit-radial-gradient(left top, ellipse cover, #cdcdcd 12%, #707070 110%);
    background: -moz-radial-gradient(left top, ellipse cover, #cdcdcd 12%, #707070 110%);
    background: radial-gradient(left top, ellipse cover, #cdcdcd 12%, #707070 110%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45616a', endColorstr='#0f3545',GradientType=1 );
    position: absolute;
    transition: opacity 0.3s;
    width: 45%; }
  .page-create-character-wrapper #create-state-buttons-wrapper .btn-previous {
    left: 0; }
  .page-create-character-wrapper #create-state-buttons-wrapper .btn-next {
    right: 0; }

.entity-group-wrapper {
  cursor: pointer; }

.target-indicator {
  opacity: 0;
  fill: #343434;
  fill-opacity: 0.5;
  stroke: #ffffff;
  stroke-opacity: 0.5;
  stroke-width: 2px; }

.state-ability.selected-ability-damage.selected-ability-enemy .enemy .target-indicator,
.state-ability.selected-ability-damage.selected-ability-player .player .target-indicator {
  fill: #dd2222; }

.state-ability.selected-ability-heal.selected-ability-player .player .target-indicator,
.state-ability.selected-ability-heal.selected-ability-enemy .enemy .target-indicator {
  fill: #22dd22; }

.entity-hover .target-indicator {
  opacity: 1; }

.battle-entity-health .health-bar {
  fill: #dd2222; }

.battle-entity-health .health-bar-border {
  fill: none;
  stroke: #ffffff; }

.entity-group-text {
  font-size: 1.5em;
  font-weight: bold; }

.entity-group-text.damage.negative {
  fill: #dd3333;
  stroke: #990000; }

.entity-group-text.damage.positive {
  fill: #33dd33;
  stroke: #009900; }

.timer-bar-border {
  fill: none;
  stroke: #343434; }

.timer-bar {
  fill: #ffffff;
  stroke: none; }

.ability-list-wrapper {
  min-height: 150px;
  position: relative; }
  .ability-list-wrapper .ability-item-wrapper {
    border: 1px solid #343434;
    float: left;
    width: 24%;
    background-color: transparent;
    -moz-transition: background-color 0.1s;
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s; }
  .ability-list-wrapper .entity-dead {
    background: #343434;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999; }
  .ability-list-wrapper .ability-item-wrapper.inactive {
    background: #a0a0a0; }
  .ability-list-wrapper .ability-item-wrapper.use-invalid {
    background-color: #cdcdcd; }
  .ability-list-wrapper .ability-item-wrapper.use {
    background-color: #44dd44; }

.pause-blocker.active {
  fill: #ababab !important;
  opacity: 0.6 !important; }

#region-node-instance-wrapper {
  background: #ffffff;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  font-family: "Lustria", serif;
  color: #000; }

html, body, #site-container, #region-main {
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

a {
  cursor: pointer;
  color: #3387f5;
  text-decoration: none !important; }

a:hover {
  color: #0b6cea; }

h1, h2, h3, h4, h5, h6 {
  font-family: "IM Fell English", san-serif; }

svg {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.hidden {
  display: none; }

.clear {
  clear: both; }

.blur {
  -webkit-filter: blur(10px) !important;
  -moz-filter: blur(10px) !important;
  filter: blur(10px);
  filter: url(#filter-blur);
  opacity: 1 !important;
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=10) \9  !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=10) \9  !important;
  opacity: 1\9 !important;
  pointer-events: none; }

.center {
  display: table;
  margin: auto; }

@-webkit-keyframes preload {
  0% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
    opacity: 0.2; }

  50% {
    opacity: 0.5; }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

.preload-content {
  text-align: center;
  color: #999;
  font-weight: 500;
  margin: 3em 0;
  -webkit-animation: preload 1.8s ease-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation: preload 1.8s ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite; }
